
html {
    font-size: 62.5%; /*(this is the default value that html give to the font size of the tags and ellements of all the page.)*/
}
/*IMPORTANT!!!with a font size of  62.5% one the html,------------> 1 rem = 10 px<------------- */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.like {
    position: absolute;
    top: 110%;
    left: 5%;
}

.minimalworkstation {
    position: absolute;
    top: 210%;
    right: 5%;
}

.c {
  position: absolute;  
  top: 310%;
  left: 5%;
}

.section1{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.section2{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.section3{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.section4{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 95%;
    width: 100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.headline{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 7.2rem;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -25%);

}

.headline2{
    position: absolute;
    top: 33%;
    left: 50%;
    font-size: 7.2rem;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -33%);

}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(46, 46, 46, 1);
    z-index: -1;
}

.logo h4{
    font-size: 6.4rem;
    font-family: 'Pinyon Script', cursive;
    margin-right: 250px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;

}

.logo {
    display: grid;
    min-height: 10vh;
    font-size: 2rem;
    color: rgb(32, 32, 32);
    /*text-transform: uppercase;*/
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.4rem;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 2rem;
    transition: all 0.3s ease;

}

@media screen and (max-width: 1350px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 1000px){
    .nav-links{
        width: 68%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        

    }

    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
} 

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* .image {
    background-color: #490D40;
    background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;

} */