.articles {
    width: 95%;
    margin: auto;
}

.head-skills h1{
    @include flex(space-around, center, column);
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article {
    display: flex;

    p {
        padding-left: 1rem;
        padding-bottom: 5rem;
        // justify-content: space-around;
        // flex-direction: column;
    }
    
}

.title {
    margin: 0rem 0rem 1rem 0rem;
}

.paragraph{
    padding: 2rem 0rem 4rem 0rem;

}

// .cards {
//     width: 90%;
//     margin: auto;
//     display: flex;
//     fle-wrap: wrap;
//     align-items: center;
// }

// .card {
//     flex: 1 1 25rem;
//     margin: 2rem 5rem;
//     min-height: 40vh;
//     border-radius: 2rem;
//     box-shadow: (0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 20px rgba(0, 0, 0, 0.3));

//     .card-head {
//         color: white;
//         background-color: $background-color;
//         border-radius: 2rem 2rem 0rem 0rem;
//     }

//     h1 {
//         padding: 0rem 0rem 0rem 2rem;
//     }

//     h4 {
//         padding: 0rem 0rem 0.6rem 2rem;
//     }

//     li{
//         font-size: 2rem;
//         padding: 0.5rem;
//     }

//     ul{
//         list-style: disc;
//         padding: 0rem 0rem 3rem 4rem;
//     }
// }
.browse {
    display: flex;
    flex-wrap: wrap;
}

.card-blog {
    @include flex(center, center, column);
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    min-height: 50vh;
    border-radius: 2rem;

    h3{
        color: white;
    }
}

.card-blog-img{
    // background: url(../img/typing.jpg);
    background-repeat: no-repeat;
    background-image: url(../img/Blog-photos/typing.jpg);
    background-size: cover;
    background-position: center;
}

.card-blog-img2{
    // background: url(../img/typing.jpg);
    background-repeat: no-repeat;
    background-image: url(../img/Blog-photos/macbook-on-bed-3201763.jpg);
    background-size: cover;
    background-position: center;
}

