.about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    color: white;
    flex: 2 1 40rem;
    @include flex(space-around, center, column);
    background: $background-color;
}

.about-goals{
    ul{
        list-style: disc;
        
        li{
            margin: 3rem 0rem 3rem 3rem;
        }
    }
}

.about-image {
    flex: 1 1 40rem;
    position: relative;
}

.about-image h5 {
    position: absolute;
    letter-spacing: 1rem;
    top:20%;
    left:50%;
    transform: translate(-50%, -20%);
    color: white;
}

.about-image h5:hover{
    font-size: x-large;
    transition: 650ms ease-in-out;
    color: rgba(255, 255, 255, 0.7);
}

.about-image  {
    .coding-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* Arrow thing */

// .arrow-down-about{
//     position: absolute;
//     left: 50%;
//     right: 43.49%;
//     top: 90.28%;
//     bottom: 1.39%;
//     opacity: 0.4;
// }

// .arrow-down-about:hover{
//     opacity: 0.7;
//     transition: 1s ease-in-out;
// }

.about-text div {
    padding: 3rem 7rem;
}

.about-text h3 {
    padding: 2rem 0rem;
    font-family: "Ruhl Medium";
}

.about-text h2{
    font-family: "Vibes";
    padding: 4rem;
}

.about-software a{
    color: white;
}

.about-software h3:hover {
    font-size: 2.7rem;
    transition: 600ms ease-in-out;
    color: rgba(255, 255, 255, 0.7);
}