.blog-posts{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}

.post{
    display: grid;
    grid-template-rows: 30vh 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3),0px 10px 10px rgba(0,0,0,0.2);
    border-radius: 2rem;
    min-height: 60vh;
    grid-column: 1/5;

    img{
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        width: 100%;
        max-height: 100%;

    }

    h3{
        padding: 3rem;
    }
    h4{
        padding: 0rem 0rem 2rem 3rem;
    }
    a{
        align-self: end;
    }
}

.post-footer{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    padding: 0rem 2rem 0rem 2rem;

    p{
        grid-column: 1/2;
        margin: 0;
        color: rgba(0,0,0,0.5);
    }

    a{
        grid-column: 11/13;
        color: rgba(0,0,0,0.5);
    }
}

@media screen and (max-width: 1680px) {
    .post-footer{ 
        a{
            grid-column: 10/13;
        }
    }
}

@media screen and (max-width: 1238px) {
    .post-footer{ 
        a{
            grid-column: 9/13;
        }
    }
}

@media screen and (max-width: 1023px) {
    .post-footer{ 
        a{
            grid-column: 8/13;
        }
    }
}

@media screen and (max-width: 897px) {
    .post-footer{ 
        a{
            grid-column: 7/13;
        }
    }
}

@media screen and (max-width: 808px) {
    .post-footer{ 
        a{
            grid-column: 6/13;
        }
    }
}

@media screen and (max-width: 746px) {
    .post-footer{ 
        a{
            grid-column: 5/13;
        }
    }
}


