.blog-posts{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
}

.card{
    margin: 3rem;
    border-radius: 2rem;
    grid-column: 2/6;
}

.card-title{
    padding: 2rem;

    a{
        color: rgba(0, 0, 0, 1);
    }
    a:hover{
        font-size: 2.6rem;
        transition: 1s;
    }
}

.card-text{
    padding: 2rem;
    font-size: large;
}

.card-img-top{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.btn{
    margin: 0rem 0rem 0rem 2rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.5);
}


.blog-side-bar{
    margin: 2rem 5rem;
    border-radius: 2rem;
    grid-column: 7/9;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    
}

.search-form{
    input{
        width: 100%;
        margin: 2rem 2rem 0rem 2rem;
        padding: 1.2rem;
        box-shadow: (0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2));
        border-radius: 2rem;
        border-style: none;
        font-size: medium;
    }
    button{
        width: 100%;
        border-style: none;
        margin: 2rem;
        border-radius: 2rem;
        background-color: rgb(13, 58, 59);
        color: white;
    }
}

.card-footer-link {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.card-footer-link:hover{
    color: rgba(0, 0, 0, 0.6);
}
