.main-head {
    width: 95%;
    margin: 0 0 0 auto;
    z-index: 2;
    position: sticky;
    top: 0%;   
}

nav {
    display: flex;
    align-items: center;
    min-height: 10vh;
    width: 90%;
    flex-wrap: wrap;
    .logo{
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;
        h1 {
            margin: 2rem;
            font-family: 'Vibes';
            font-size: 4rem;
        }
        h1:hover{
            font-size: 4.1rem;
            transition: 1s ease-in-out;
        }
    }
    ul {
        @include flex(space-around, center, row);
        flex: 1 1 40rem;
    }
    
}

.nav-scrolled {
    transition: 500ms ease-in-out;
    width: 100%;
    background: $background-color;
    color: white;
    margin: auto;

    .logo img{
        padding: 0rem 0rem 0rem 3rem;
    }

    .logo a{
        h1{
            color: white;
        }
    }

    nav{
       ul{
           a{
               color: white;
           }
       } 
    }
}

ul li:nth-child(1):hover  {
    text-decoration: underline;
}

ul li:nth-child(2):hover  {
    text-decoration: underline;
}

ul li:nth-child(3):hover  {
    text-decoration: underline;
}

ul li:nth-child(4):hover  {
    text-decoration: underline;
}

ul li:nth-child(5):hover  {
    text-decoration: underline;
}

.intro{
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.intro-introdaction {
    flex: 2 1 40rem;
    text-align: center;
    @include flex(center, center, column);
}

.intro-introdaction p {
    padding: 5rem 10rem;
    color: $gray-text;
}

.intro-introdaction h2 {
    font-size: 4rem;
    padding-top: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-introdaction .button {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: background 0.7s ease-in-out;
    border-radius: 1rem;
}

.intro-introdaction a:hover{
    background: rgba(87, 87, 87, 0.2);
}

.intro-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
}

.intro-thanos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* arrow thing */

.arrow-down{
    position: relative;
    // left: 29.8%;
    // right: 43.49%;
    // top: 90.28%;
    // bottom: 1.39%;
    @include flex(center, center, column);
    opacity: 0.4;
}

.arrow-down:hover{
    opacity: 0.7;
    transition: 1s ease-in-out;
}


/* ANIMATIONS */

@keyframes opening {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.about-work a{
    color: white;
}

.about-work a:hover {
    background: red;
}
