.projects {
    width: 95%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;
    h2 {
        margin: 2rem;
    }  

}

.projects img{
    border-radius: 2rem;
    margin: 2rem;
}

.header-projects {
    width: 95%;
    margin: 0 0 0 auto;
    z-index: 2;
    position: sticky;
    top: 0%; 
}

.header-projects{
    transition: 500ms ease-in-out;
    width: 100%;
    background: $background-color;
    color: white;
    .logo img{
        padding: 0rem 0rem 0rem 3rem;
    }

    .logo a{
        h1{
            padding: 0rem 0rem 0rem 3rem;
            color: white;
        }
    }

    nav{
        ul{
            a{
                color: white;
            }
        } 
    }
}

.resume{
    flex: 0 0 10rem;
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(17, 168, 17, 0.863);
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.resume:hover{
    background: rgba(17, 145, 17, 0.747);
    transition: 0.5s ease-in-out;
}

.portfolio,
.thanos,
.transpiler,
.cards-game,
.personal-site {
    flex: 1 1 40rem;
}