$header1: 5.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$big: 7rem;
$gradient: linear-gradient(left, #5b2b83, #16b438);
// $gradient2: linear-gradient(right, #0c64c9, #00aaa2);
$background-color: #414141;
$gray-text: #2c2c2c;
$contact-color: rgb(17, 63, 55);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import"about";
@import "intro";
@import "gallery";
@import"contact";
@import"footer";
@import"projects";
@import"gallery(page)";
@import"about(page)";
@import"blog";


@media screen and (max-width: 1400px){
    .contact img{
        display: none;
    } 
}

@media screen and(max-width:950px){
    /* landing page */
    .intro{
        width: 100%;
    }
    .intro-introdaction p {
        padding:5rem 3rem;
    }

    .arrow-down{
        display: none;
    }
    /* burger */
    .burger {
        position: relative;
        display: block;
        cursor: pointer;
    }
    .burger span {
        padding: 0.2rem 2rem;
        background: $gray-text;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease-in-out;
    }
    //! JUNKY SOLUTION FOR THE UNDERLINING AT THE BURGER THING
    .nav-links a{
        color: white;
        font-size: $header3;
    }
    .nav-links li:nth-child(6){
        a{
            text-decoration: none;
        }
    }
    .nav-links {
        background: rgba(48, 48, 48, 0.857);
        opacity: 1;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease-in-out;
    }
    .nav-open {
        transform: translateX(-100%);
    }
    .toggle .line1{
        transform: rotateZ(45deg) translateY(300%);
        background: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
    }
    /* About section */
    .about-text div {
        padding: 3rem 3rem;
    }
    /* Gallery */
    .gallery button{
        opacity: 1;
    }

    .gallery img{
        grid-row: auto;
        grid-column: auto;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    .gallery-head{
        display: none;
    }
    /* My work(page) */

    .resume{
        display: none;
    }
    /*Blog page*/
    .blog-side-bar{
        grid-column: 6/9;
    }

    /* Footer */
    
    footer ul {
        order: 1;
    }
    footer h4{
        order: 2;
        text-align: center;
        padding: 1rem;
    }
}

