* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Ruhl';
  src: url("./fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: 'Ruhl Medium';
  src: url("./fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: 'Vibes';
  src: url("./fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ruhl";
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

h1 {
  font-size: 5.5rem;
}

li, button, label, input, p, a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4, h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.active {
  text-decoration: underline;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #414141;
}

.about-goals ul {
  list-style: disc;
}

.about-goals ul li {
  margin: 3rem 0rem 3rem 3rem;
}

.about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

.about-image h5 {
  position: absolute;
  letter-spacing: 1rem;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  color: white;
}

.about-image h5:hover {
  font-size: x-large;
  -webkit-transition: 650ms ease-in-out;
  transition: 650ms ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}

.about-image .coding-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Arrow thing */
.about-text div {
  padding: 3rem 7rem;
}

.about-text h3 {
  padding: 2rem 0rem;
  font-family: "Ruhl Medium";
}

.about-text h2 {
  font-family: "Vibes";
  padding: 4rem;
}

.about-software a {
  color: white;
}

.about-software h3:hover {
  font-size: 2.7rem;
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
  font-family: 'Vibes';
  font-size: 4rem;
}

nav .logo h1:hover {
  font-size: 4.1rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.nav-scrolled {
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  width: 100%;
  background: #414141;
  color: white;
  margin: auto;
}

.nav-scrolled .logo img {
  padding: 0rem 0rem 0rem 3rem;
}

.nav-scrolled .logo a h1 {
  color: white;
}

.nav-scrolled nav ul a {
  color: white;
}

.nav-scrolled .line1 {
  background: white;
}

.nav-scrolled .line2 {
  background: white;
}

.nav-scrolled .line3 {
  background: white;
}

nav ul li:nth-child(1):hover {
  text-decoration: underline;
}

nav ul li:nth-child(2):hover {
  text-decoration: underline;
}

nav ul li:nth-child(3):hover {
  text-decoration: underline;
}

nav ul li:nth-child(4):hover {
  text-decoration: underline;
}

nav ul li:nth-child(5):hover {
  text-decoration: underline;
}

.intro {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro-introdaction {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-introdaction p {
  padding: 5rem 10rem;
  color: #2c2c2c;
}

.intro-introdaction h2 {
  font-size: 4rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#5b2b83), to(#16b438));
  background: linear-gradient(left, #5b2b83, #16b438);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-introdaction .button {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 4rem;
  cursor: pointer;
  -webkit-transition: background 0.7s ease-in-out;
  transition: background 0.7s ease-in-out;
  border-radius: 1rem;
}

.intro-introdaction a:hover {
  background: rgba(87, 87, 87, 0.2);
}

.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
  background: linear-gradient(#dad8dd, #dad1d4);
}

.intro-thanos {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* arrow thing */
.arrow-down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.4;
}

.arrow-down:hover {
  opacity: 0.7;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/* ANIMATIONS */
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fcfcfc;
  background: rgba(49, 49, 49, 0.6);
  padding: 5rem 10rem;
  text-align: center;
  border-radius: 2rem;
  border-style: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery button:hover {
  background: #313131;
}

.gallery-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: rgba(51, 51, 51, 0.9);
  padding: 5rem 10rem;
  text-align: center;
  border-radius: 2rem;
}

.gallery h4 {
  padding: 2rem 0rem 0rem 0rem;
}

.gallery-link {
  color: #adadad;
}

.gallery-link:hover {
  text-decoration: underline;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact textarea {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0rem;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
}

.form-wrapper h2 {
  margin: 3rem 0rem;
}

.form-wrapper span {
  font-size: 7rem;
  color: #113f37;
}

.form-wrapper label {
  display: block;
}

.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: #414141;
  color: white;
  border: none;
  padding: 1rem;
}

.form-wrapper button {
  padding: 1rem 8rem;
  background: #113f37;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}

.form-control {
  margin: 0rem 0rem 3rem 0rem;
  display: block;
  width: 100%;
}

.form-wrapper button:hover {
  background: #0a241f;
}

.contact img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #414141;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.projects {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects h2 {
  margin: 2rem 2rem 0rem 2rem;
}

.transpiler p {
  color: rgba(128, 128, 128, 0.842);
}

.projects img {
  border-radius: 2rem;
  margin: 2rem;
}

.cards-game:hover {
  text-decoration: underline;
}

.transpiler:hover {
  text-decoration: underline;
}

.personal-site:hover {
  text-decoration: underline;
}

.portfolio:hover {
  text-decoration: underline;
}

.thanos:hover {
  text-decoration: underline;
}

.portfolio,
.thanos,
.transpiler,
.cards-game,
.personal-site {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.header-projects {
  width: 95%;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.header-projects {
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  width: 100%;
  background: #414141;
  color: white;
}

.header-projects .logo img {
  padding: 0rem 0rem 0rem 3rem;
}

.header-projects .logo a h1 {
  padding: 0rem 0rem 0rem 3rem;
  color: white;
}

.header-projects .line1 {
  background: white;
}

.header-projects .line2 {
  background: white;
}

.header-projects .line3 {
  background: white;
}

.header-projects nav ul a {
  color: white;
}

.resume {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
  padding: 1rem;
  border-radius: 2rem;
  background: rgba(17, 168, 17, 0.863);
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.burger-resume {
  padding: 1rem;
  border-radius: 2rem;
  background: rgba(17, 168, 17, 0.863);
  border: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.burger-resume:hover {
  background: rgba(17, 145, 17, 0.747);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.resume:hover {
  background: rgba(17, 145, 17, 0.747);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.gallery-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  min-height: 300vh;
  position: relative;
  background-color: rgba(49, 49, 49, 0.753);
}

.gallery-page img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-page7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.articles {
  width: 90%;
  margin: auto;
}

.articles a:hover {
  text-decoration: underline;
}

.articles h4 {
  font-size: 2.5rem;
}

.head-skills h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#5b2b83), to(#16b438));
  background: linear-gradient(left, #5b2b83, #16b438);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article p {
  padding-left: 1rem;
  padding-bottom: 5rem;
}

.title {
  margin: 0rem 0rem 1rem 0rem;
}

.paragraph {
  padding: 2rem 0rem 4rem 0rem;
}

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 2rem 5rem;
  min-height: 50vh;
  border-radius: 2rem;
}

.card-blog h3 {
  color: white;
}

.card-blog-img {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.371)), to(rgba(37, 37, 37, 0.3))), url(../img/Blog-photos/typing.jpg);
  background: linear-gradient(rgba(37, 37, 37, 0.371), rgba(37, 37, 37, 0.3)), url(../img/Blog-photos/typing.jpg);
  background-size: cover;
  background-position: center;
}

.card-blog-img:hover {
  background-size: 115%;
}

.card-blog-img2 {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.371)), to(rgba(37, 37, 37, 0.3))), url(../img/Blog-photos/macbook-on-bed-3201763.jpg);
  background-image: linear-gradient(rgba(37, 37, 37, 0.371), rgba(37, 37, 37, 0.3)), url(../img/Blog-photos/macbook-on-bed-3201763.jpg);
  background-size: cover;
  background-position: center;
}

.card-blog-img2:hover {
  background-size: 115%;
}

/*THIS IS A DIFFEREND STYLESHEET ONLY FOR THE BLOG PAGE SO THE STYLES DO NOT GET MIXED UP */
/*GLOBAL BASIC STYLING */
html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

/*HEADER(NAVBAR) CUSTOMISATION*/
.btn-black {
  background-color: black;
  color: white;
}

.black-background {
  background-color: black;
}

.black-background a {
  color: white;
}

.blog-header-logo {
  font-size: 2.5rem;
}

/*MEDIA, BREAKPOINTS etc.*/
@media screen and (max-width: 1400px) {
  .contact img {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (max-width: 750px) {
  .projects img {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  /* landing page */
  .intro {
    width: 100%;
  }
  .intro-introdaction p {
    padding: 5rem 3rem;
  }
  .arrow-down {
    display: none;
  }
  /* burger */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #2c2c2c;
    margin: 0.5rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav-links a {
    color: white;
    font-size: 2.5rem;
  }
  .nav-links li:nth-child(6) a {
    text-decoration: none;
  }
  .nav-links {
    background: rgba(48, 48, 48, 0.857);
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .nav-open {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
  /* About section */
  .about-text div {
    padding: 3rem 3rem;
  }
  /* Gallery */
  .gallery button {
    opacity: 1;
  }
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }
  .gallery {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery-head {
    display: none;
  }
  /* My work(page) */
  .resume {
    display: none;
  }
  /*Blog page*/
  .blog-side-bar {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  /* Footer */
  footer ul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer h4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */